{% extends 'main.html' %}
{% block content %}
<h4 class="alert alert-warning"><marquee>Please select the courses you would like to register for the new academic session.</marquee></h4>
<form action="{% url 'submit' %}" method="POST">
    {% csrf_token %}
                        <div class="row">
                            <div class="col-50">
                            <div style="overflow-x:auto;">
                            
           <table class='table table-bordered'>
                <tr>
                    <td colspan="7" class="text-center alert-secondary">First Semester</td>
                </tr>
                <tr>
                    <th></th>
                    <th>S/No.</th>
                    <th>Course<br>code</th>
                    <th>Course Title</th>
                    <th>Unit</th>
                    <th>Status</th>
                    <th>Reg.<br>Status</th>
                    
                </tr>
                
             
                {% for course in first  %}
                <tr>
                  <td><input type="checkbox" name="course[]" class='first' onclick="handleClick(this);" value='{{ course.id }}' id=""></td>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ course.code }}</td>
                  <td>{{ course.name }}</td>
                  <td>{{ course.unit }}</td>
                  <td>{% if course.elective %}
                    E
                    {% else %}
                    C
                    {% endif %}
    
                  </td>
                  <td>Normal</td>
                  
              </tr>
                {% endfor %}
             
    <!-- 
                <tr>
                    <td style="border-right:none;background-color:darkblue; "></td>
                    <td style="border-right:none;background-color:darkblue; "></td>
                    <td style="border-right:none;background-color:darkblue; color:white; text-align:right;font-size: 17px; ">Total</td>
                    <td><b>23</b></td>
                    <td>C</td>
                    <td></td>
                </tr> -->
            </table>
        </div>
    
                            </div>
    
                            <div class="col-50">
                            <div style="overflow-x:auto;">
           <table class='table table-bordered'>
                <tr>
                    <td colspan="7" class="text-center alert-secondary">Second Semester</td>
                </tr>
                <tr>
                  <th></th>
                    <th>S/No.</th>
                    <th>Course<br>code</th>
                    <th>Course Title</th>
                    <th>Unit</th>
                    <th>Status</th>
                    <th>Reg.<br>Status</th>
                    
                    {% for course in second  %}
                    <tr>
                      <td><input type="checkbox" name="course[]" class='first' onclick="handleClick(this);" value='{{ course.id }}' id=""></td>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ course.code }}</td>
                      <td>{{ course.name }}</td>
                      <td>{{ course.unit }}</td>
                      <td>{% if course.elective %}
                        E
                        {% else %}
                        C
                        {% endif %}
        
                      </td>
                      <td>Normal</td>
                      
                  </tr>
                    {% endfor %}
             
             
                <!-- <tr>
                    <td style="border-right:none;background-color:darkblue; "></td>
                    <td style="border-right:none;background-color:darkblue; "></td>
                    <td style="border-right:none;background-color:darkblue; color:white; text-align:right;font-size: 17px; ">Total</td>
                    <td><b>24</b></td>
                    <td>C</td>
                    <td></td>
                </tr> -->
            </table>
            
           
        </div>
        
    
                            </div>
    
                          </div>
                         <div align='center'> <hr><input type="submit" class="btn btn-primary" value="Proceed"></div>
          
                    </form>
       <hr>
     <br>
     <a href="{% url 'dashboard' %}" class="btn btn-primary">Go Back</a>

{% endblock content %}